exclude .installed.cfg
exclude buildout.cfg
global-exclude *.mo
global-exclude *.pyc
global-exclude .DS_Store
global-exclude ._*
include *.rst
include *.txt
recursive-exclude bin *
recursive-exclude develop-eggs *
recursive-exclude parts *
recursive-include collective *
recursive-include docs *
